{% extends 'base.html' %} 
{% import 'macros.html' as macros %}


{% block title %}
    {{ super() }}
    | Welcome 
{% endblock %}

{% block content%}

    {% if user_ip %}
        <h1> Hello man, your ip is {{ user_ip }}, welcome to Los Bovinos</h1>
    {% else %}
        <a href="{{ url_for('index') }}"></a>
            <!--Flask cuenta con una vairable especial la cual 
            al memomento de usarla, podemos pasar el nombre de una funcion como parametro
            y esta va a seleccionar la route donde esta se encuentra para no tener
            que estar recordando esta ruta, podemos usar solamente el nombre de algunas de las
            funciones que alli se encuentren-->
    {% endif %}

    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
        {% endfor %}
    </ul>

{% endblock %}